name: Unit and functional tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  Build:
    name: Build & Test (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.13']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: pip
    - name: Install dependencies
      run: |
        pip install -e .[dev]
    - name: Run tests
      run: pytest --cov=src/anifeed --cov-report=xml
